img {
  width: 60%;

}

.row {
  margin-bottom: 300px;
  padding: 80px;
}

.card {
  width: 300px;
  height: 500px;
  float: left;
  margin: 25px;
  border: 1px solid red;
}

.card span {
  font-weight: bold;
}

.card p {
  font-size: 20px;
}
